@tailwind base;
@tailwind components;
@tailwind utilities;

.banner{
    background-image: url('./assets/images/home-banner-1.png');
    background-repeat: no-repeat;
    background-size: cover; 
  }





  /* scrollbar hidden  */ 
@layer base {
    html, body {
        overflow-y: scroll; 
    } 
    *::-webkit-scrollbar {
        display: none;
    }
    * {
        -ms-overflow-style: none;  
        scrollbar-width: none;  
    }
  } 
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  } 
  .scrollbar-hide {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }
  
  /* ------------------------ */
  